# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env
*.env

# Node
node_modules/

# Vite
dist/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db